.dashboard-container {
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #041e6bed, #6d82b5c3);
  background-size: 200% 200%;
  width: 100%;
}

.dashboard-main {
  padding: 30px 50px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

section h1 {
  background-color: transparent;
  color: #1C104C;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  padding: 1.5rem 0 0.5rem;
  margin: 0;
}

.section-content {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 1px 15px;
  align-items: start;
  padding: 0 2.5rem;
}

.data-item {
  display: contents;
}

.data-item p:first-child {
  text-align: right;
}

.data-item p:last-child {
  text-align: left;
}

.summary-section,
.data-visualization,
.recent-sessions {
  margin: 40px 0;
  padding: 0 0 0.5rem;
  background-color: #B5C2E4;
  border: 2px solid #1C104C;
  border-radius: 14px;
  overflow: hidden;
}

.recent-sessions {
  margin-bottom: 20px;
}

.summary-section {
  width: fit-content;
  margin: 0 auto;
}

.data-visualization-content {
  display: flex;
  width: 100%;
}

.data-visualization-toggle {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 200px;
}

.chart-container {
  width: 70%;
  padding: 20px 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.data-visualization-toggle {
  align-items: center;
  padding: 20px;
  border-radius: 8px;
}

.data-visualization-toggle p {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.data-visualization-toggle button {
  width: 16em;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #1C104C;
  background-color: #fff;
  border: 2px solid #1C104C;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 5px;
}

.data-visualization-toggle button:hover {
  background-color: #e8e8e8;
}

.data-visualization-toggle button.active {
  background-color: #1C104C;
  color: #fff;
}

.chart-toggle {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  gap: 5rem;
}

.chart-toggle button {
  padding: 10px 15px;
  margin: 0 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
}

.chart-toggle button.active {
  background-color: #20159a;
  color: white;
}

.chart-toggle button:hover:not(.active) {
  background-color: #e0e0e0;
}

.chart {
  width: 90%;
}

.pie-chart {
  width: 65%;
  margin: 0 auto;
}

.chart-text {
  display: flex;
  justify-content: center;
}

.divider-line {
  width: 1px;
  background-color: #1c104c20;
  height: 60vh;
  margin: auto 70px auto 0;
}

table {
  width: 98%;
  margin: 15px auto 15px;
  border-collapse: collapse;
}

table th {
  color: #1c104cd4;
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
}

table th,
table td {
  padding: 10px;
  text-align: center;
  border-top: 1px solid #1c104c26;
  border-right: 1px solid #1c104c26;
}

table th:last-child, 
table td:last-child {
  border-right: none; 
}

table th:first-child,
table td:first-child {
  border-left: none;
}

.no-session-text {
  text-align: center;
}

.clear-history-btn-container {
  display: flex;
  justify-content: flex-end;
}

.clear-history-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clear-history-btn:hover {
  background-color: #c0392b;
}

.confirm-clear-history-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.confirm-clear-history {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); 
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.confirm-clear-history h3 {
  margin-bottom: 20px;
  font-size: 18px;
  color: #333;
}

.confirm-clear-history button {
  padding: 10px 15px;
  margin: 0 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.confirm-clear-history button:first-of-type {
  background-color: #f0f0f0;
  color: #333;
}

.confirm-clear-history button:last-of-type {
  background-color: #e74c3c;
  color: #fff;
}

.confirm-clear-history button:hover {
  opacity: 0.9;
}