.home-container {
    background-color: #CDD2FF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #6589E5;
  }
  
  
  main {
    margin-top: 20px;
    width: 100%;
  }

  .title {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 88px;
    color: white;
    margin: 1px;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1C104C;
    gap: 30vw;
  }

  .tab {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 44px;
    background-color: #1C104C;
    color: #fff;
    text-transform: capitalize;
    border: none;
    opacity: 0.5;
  }

  .tab:hover, .tab.active{
    cursor: pointer;
    opacity: 1;
  }

  .session-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    width: 100%;
    gap: 14vw;
  }

  .session {
    font-family: "Rhodium Libre", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    width: 16rem;
    padding: 25px 15px 15px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
  }

  .session.start {
    background-color: #0A7B00;
    color: white;
  }

  .session.end {
    background-color: #ADACAC;
    color: #767070;
  }

  .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 14vw;
  }

  .status, .recent-stats {
    text-align: center;
    font-family: "Rhodium Libre", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    width: 22rem;
    padding: 20px 30px 10px;
    border-radius: 40px;
    border: none;
    background-color: #D9D9D9; 
  }

  .focus-status {
    color: #0A7B00;
    font-weight: 800;
  }

  .content-header {
    color: #1C104C;
    font-weight: 800;
  }

  footer {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
  }