.home-container {
    flex-direction: column;
    align-items: center;
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #6589E5;
  }
  
  
  main {
    margin-top: 20px;
    width: 100%;
  }

  .title {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 88px;
    color: white;
    margin: 1px;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1C104C;
    gap: 30vw;
  }

  .tab {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 44px;
    background-color: #1C104C;
    color: #fff;
    text-transform: capitalize;
    border: none;
    opacity: 0.5;
  }

  .tab:hover, .tab.active{
    cursor: pointer;
    opacity: 1;
  }

  .session-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    width: 75%;
    gap: 14vw;
  }

  .session {
    font-family: "Rhodium Libre", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    width: 16rem;
    padding: 25px 15px 15px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
  }

  .session.start {
    background-color: #0A7B00;
    color: white;
  }

  .session.end {
    background-color: #ADACAC;
    color: #767070;
  }

  .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 12vh auto;
    gap: 14vw;
  }

  .recent-stats, .focus-tip {
    text-align: center;
    font-family: "Rhodium Libre", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    width: 22rem;
    padding: 20px 30px 10px;
    border-radius: 40px;
    border: none;
    background-color: #B5C2E4; 
  }

  .content-header {
    color: #1C104C;
    font-weight: 800;
  }

  .focus-tip-heading {
    color: #004807;
    font-weight: 800;
    text-transform: capitalize;
  }